{% extends "base.html" %}

{% block content %}
<main class="homepage">
<header>
  <h1>
    A Learner’s Guide to Advanced Theoretical Physics
  </h1>
  <p>
    By Jacky Song and Alex Weiss
  </p>
</header>

<section class="preface">
<p>
Welcome! This is the home of a set of free, open-source online books, made for all readers interested in advanced theoretical physics. In these books, we delve into quantum mechanics and relativity, and don't shy away from the details; we cover the Standard Model and General Relativity, and build to the most exciting developments in making a unified theory that bridges General Relativity and the Standard Model. Additionally, we will also spend some time looking into non-relativistic quantum field theories, which are very similar to relativistic quantum field theories that form the basis of the Standard Model, with applications to nuclear and condensed-matter physics. This guide is written to be accessible enough to be readable by anyone who is curious and wants a challenge.
</p>
<p>
We attempt to keep the mathematical prerequisites for these books to the minimum: only some multivariable calculus and some knowledge of vectors and matrices. If these topics are unfamiliar, we highly recommend reading <a href="https://tutorial.math.lamar.edu/">the free online lecture notes</a> by Professor Paul Dawkins at Lamar University. We will explain any other mathematics as necessary while we progress through the book.
</p>
<p>
Our greatest satisfaction is to make the concepts of theoretical physics as clear and accessible as we can. We hope you enjoy this book as much as we have enjoyed writing it.
</p>
</section>

<section class="book-cards">
    <h2>Our books</h2>
    {% for page in section.pages %}
   <article>
     <h3>{{ page.title }}</h3>
     <p class="summary">{{ page.extra.description | safe }}</p>
     <a href="{{ page.permalink | safe }}">Read more...</a>
   </article>
 {% endfor %}
</section>
<section class="preface">
  <h2>About us</h2>
  <p>
    We are two physics students who share a love of theoretical physics and strive to make it more accessible. We want to challenge a big misconception about physics: that you have to be naturally "smart" to excel at physics. This is a myth: even the best physicists started from knowing no physics at all, and all physicists are ultimately just human beings, not some magic "breed" of ultra-intelligent beings.
  </p>
  <p>
    The skeptical reader may ask, why care about theoretical physics? The answer is that basic science, such as research into theoretical physics, is <em>crucial</em> to furthering our understanding of science, because it is the bedrock on which all other physics is built upon. The current "Big 2" theories of theoretical physics, General Relativity (GR) and the Standard Model, are both hugely-successful theories, but as of the present moment, attempts to unify the two theories have failed. Thus, working on the problems within each of the theories, as well as their (hopeful) unification, is also (well, subjectively) an interesting intellectual challenge.
  </p>
  <p>
    Physics is a difficult subject, but there's no reason you can't eventually master it. And ultimately, regardless of our individual differences, we share a universal curiosity and desire to understand our Universe.
  </p>
</section>
<section class="related">
    <h2>Related projects</h2>
    <p>Love open knowledge, science, and physics? You might like <a href="https://elaraproject.github.io">Project Elara</a> as well as its <a href="https://elaraproject.github.io/elara-handbook">Handbook</a>, which (among other things) contains a comprehensive overview of many areas of physics.</p>
</section>
</main>
{% endblock content %}
