{% extends "base.html" %}

{% block content %}
<main class="chapter">
    <!-- book navigation -->
    <!-- should convert to accordion on mobile and have a expand/shrink icon -->
    <nav>
        <!-- We get the parent folder of the book chapters -->
        {% set page_path = page.relative_path | split(pat="/") %}
        {% set book_yml_path = "content/" ~ page_path[0] ~ "/book.yml" %}
        {% set pageName = page_path | last %}
        {% set book = load_data(path=book_yml_path) %}
        <h1>
            <a href="/{{ book.root }}">{{ book.name }}</a>
        </h1>
        <h2>Table of contents</h2>
        {% if book.pages %}
        {% for page in book.pages %}
            {% if page.file == pageName %}
                <!-- highlight the chapter we're currently on -->
                <a class="current-page" href="/{{ book.root }}/{{ page.file | replace(from=".md", to="") }}">{{ loop.index }}. {{ page.title }}</a>
            {% else %}
                <a href="/{{ book.root }}/{{ page.file | replace(from=".md", to="") }}">{{ loop.index }}. {{ page.title }}</a>
            {% endif%}
        {% endfor %}
        {% endif %}

        <a class="nav-bottom-link" alt="Link to go back to homepage" href="/">Back to homepage &rarr;</a>
    </nav>

    <div class="article-container disable-scrollbars">
    <article class="post">
        {% if page.extra.cover_img %}
            <h1>{{ page.title }}</h2>
            <img src="{{ page.path ~ page.extra.cover_img.src }}" width="350" alt="{{ page.extra.cover_img.alt }} " />
            <p style="font-size: small; text-align: center">{{ page.extra.cover_img.desc }}</p>
        {% else %}
            <h1>{{ page.title }}</h2>
        {% endif %}
        {% if not page.extra.nonarticle and pageName != "index.md" %}
        <p style="font-size: small;">Reading time: around {{ page.reading_time }} minutes</p>
        {% endif %}
        <!--
        {% if not page.extra.nonarticle %}
        <p id="print-notice">This page is print-friendly. Simply press Ctrl + P (or Command + P if you use a Mac) to print the page and download it as a PDF.</p>
        {% endif %}
        -->
        
        <!-- page content -->
        {{ page.content | safe }}
        <div class="page-switch-buttons">
        {% if book.pages %}
            <!-- If it's the preface just add a
                "begin" button -->
            {% if pageName == "index.md" %}
            <!--
                <div class="page-start">
                    <a href="/{{ book.root }}/{{ book.pages.0.file | replace(from=".md", to="") }}">Start reading &rarr;</a> -->
                <a class="page-start" href="/{{ book.root }}/{{ book.pages.0.file | replace(from=".md", to="") }}">
                    <p>Start reading &rarr;</p>
                </a>
            {% else %}
            <!-- Otherwise add prev/next buttons -->
                {% for page in book.pages %}
                    {% set currentPage = page.file %}
                    {% if currentPage == pageName %}
                        <!-- previous page button -->
                        {% set prevIdx = loop.index - 2 %}
                        {% if prevIdx >= 0 %}
                        {% set prevPage = book.pages[prevIdx] %}
                            <div class="page-down">
                        <a href="/{{ book.root }}/{{ prevPage.file | replace(from='.md', to='') }}">
                            Previous: Chapter {{ prevIdx + 1 }}
                        </a>
                                <strong>{{ prevPage.title }}</strong>
                            </div>
                        </a>
                        {% endif %}
                        <!-- next page button -->
                        {% set nextIdx = loop.index %}
                        {% if nextIdx < book.pages | length %}
                        {% set nextPage = book.pages[nextIdx] %}
                        <div class="page-up">
                            <a href="/{{ book.root }}/{{ nextPage.file | replace(from='.md', to='') }}">
                                Next: Chapter {{ nextIdx + 1 }}
                            </a>
                            <strong>{{ nextPage.title }}</strong>
                        </div>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endif %}
        </div>
    </article>
    </div>
    <!-- This should be also an accordion for smaller screen sizes -->
    <div class="page-navigation">
        <h2>In this chapter</h2>
        <ul>
        {% for h2 in page.toc %}
            <li>
                <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
                {% if h2.children %}
                    <ul>
                        {% for h3 in h2.children %}
                            <li class="indent">
                                <a href="{{ h3.permalink | safe }}">{{ h3.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    </div>
    </section>
</main>

    <!-- We load KaTeX last for performance reasons -->
    <script defer src="{{ get_url(path='katex/katex.min.js', trailing_slash=false) | safe }}"></script>
    <script defer src="{{ get_url(path='katex/contrib/auto-render.min.js', trailing_slash=false) | safe }}"></script>
    <script defer src="{{ get_url(path='katex/contrib/mhchem.min.js', trailing_slash=false) | safe }}"></script>
    <script defer src="{{ get_url(path='katex/contrib/copy-tex.min.js', trailing_slash=false) | safe }}"></script>
    <script defer>
    function renderMath(element) {
        // renders math using KaTeX in a particular element
        renderMathInElement(element, {
          // customised options
          // • auto-render specific keys, e.g.:
          delimiters: [
              {left: '$$', right: '$$', display: true},
              {left: '$', right: '$', display: false},
          ],
          // • rendering keys, e.g.:
          throwOnError : false
        });
    }
    document.addEventListener("DOMContentLoaded", function() {
        var article = document.querySelector(".post");
        if (article) {
            renderMath(article);
        }
    })
    </script>
    {% if not page.extra.notoc %}
    <script defer>
    var toc = document.getElementById("toc");
    var tocPos = toc.offsetTop + toc.offsetHeight;
    var tocBtn = document.getElementById("jump-toc-btn");
        // return the top and bottom coordinates of the
        // user's position on the page
        function getViewport() {
            var scrollPosTop = document.documentElement.scrollTop;
            var scrollPosBottom = scrollPosTop + window.innerHeight;
            return scrollPosTop, scrollPosBottom
        }

    function showTocBtnOnScroll() {
            // don't show toc button on print media
            if (window.matchMedia('print').matches){ return; }
            var _, scrollBottom = getViewport();
            // get bottom of viewport scroll position
            if (scrollBottom > tocPos) {
                tocBtn.style.display = "block";
            } else {
                tocBtn.style.display = "none";
            }
        }

        window.onscroll = function(){
            showTocBtnOnScroll();
        };
    </script>
    {% endif %}

{% endblock content %}
